:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --purple: #752e91;
    --light-gray: #dedede;
    --black: black;
    --light-blue: #61dafb;
    --opacity: #f5f7fa51;
}

.games-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}
