.game-info {
    display: flex;
    justify-content: center;
}

.game-card {
    width: 25%;
    height: 450px;
    cursor: pointer;
    border: none;
    margin: 30px;
    background: linear-gradient(135deg, #52a5f7, #ad8fff);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px #bebebe;
    animation: game-card;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2000ms;
}

.link:hover {
    color: black;
}

.game-header p {
    margin-bottom: 20px;
}

@media screen and (max-width: 780px) {
    .game-info {
        flex-direction: column;
    }

    .game-card {
        width: 90%;
        height: 500px;
    }
}
