:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --purple: #752e91;
    --light-gray: #dedede;
    --black: black;
    --light-blue: #61dafb;
    --opacity: #f5f7fa51;
}

.games-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.game-card {
    width: 25%;
    height: 450px;
    border: 1px var(--black) solid;
    margin: 30px;
    background: linear-gradient(135deg, var(--blue), var(--purple));
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .games-container {
        flex-direction: column;
    }

    .game-card {
        width: 90%;
        height: 500px;
    }
}
