:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --purple: #752e91;
    --light-gray: #dedede;
    --black: black;
    --light-blue: #61dafb;
    --opacity: #f5f7fa51;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--blue), var(--purple));
}

.login {
    background-color: var(--opacity);
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    width: 50%;
    justify-items: center;
    height: 70%;
    padding: 30px;
    border-radius: 10px;
}
.title {
    font-size: x-large;
}

.login button,
.login #userName,
.login #password {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    border: none;

}

.login button {
    width: 30%;
}
