.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #752e91);
}

.login {
    background-color: #f5f7fa51;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    width: 50%;
    justify-items: center;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
    
}
.title {
    font-size: x-large;
}
#userName,
#password,
.login button {
    height: 40px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}

.login button{
    width: 30%;
}

