.square {
    flex: 33%;
    height: 100%;
    border: 1px solid var(--black);
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: var(--black);
}
.square:active {
    background-color: var(--light-gray);
}
