:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --purple: #752e91;
    --dark-gray: #333;
    --greenyellow: greenyellow;
    --green: green;
    --light-gray: #dedede;
    --black: black;
    --light-blue: #61dafb;
}

.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
#flappyGame {
    width: 100%;
    justify-content: center;
    display: flex;
}
#gameBox {
    width: 500px;
    height: 500px;
    background-image: url(https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png);
    overflow: hidden;
}
#bird {
    position: absolute;
    background-image: url(../assets/images/flappy.png);
    border-radius: 50%;
    width: 60px;
    height: 45px;
}
#audio {
    display: none;
}

#playMusic {
    margin-left: 72%;
    margin-top: 35%;
}
.dark {
    background-color: var(--dark-gray);
    color: var(--white);
}
#theme {
    margin-left: 90%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
}

.light #theme {
    background-image: url(../assets/images/lightMood.png);
}
.dark #theme {
    background-image: url(../assets/images/darkMode.png);
}
.light {
    background-color: var(--white);
    color: var(--dark-gray);
}
.white-content {
    background: var(--white);
}
#score {
    position: absolute;
    font-size: 24px;
    color: var(--greenyellow);
}
.pipe {
    position: relative;
    background-color: var(--green);
}
.pipe.down {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/pipeDown.png);
}
.pipe.top {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/pipeUp.png);
}
#playMusic {
    background: none;
    border: none;
}

.Messages {
    border: 2px solid var(--light-gray);
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--white);
}
.App-link {
    color: var(--light-blue);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
